.App {
  text-align: center;
  scroll-behavior: smooth;
  
}
body {
  background: #020046 fixed;
  background: -moz-linear-gradient(top, #020046 0%, #1C6EA4 50%, #A6ABE1 100%);
  background: -webkit-linear-gradient(top, #020046 0%, #1C6EA4 50%, #A6ABE1 100%);
  background: linear-gradient(to bottom, #020046 0%, #1C6EA4 50%, #A6ABE1 100%);
  font-family: 'Montserrat', sans-serif;
}

div.header {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100vh;

  
  
  }
  
  div.navbar { 
     grid-area: 1 / 1 / 2 / 7;

  
     background: linear-gradient(to bottom, rgba(2, 0, 70,0.6) 50%, rgba(2, 0, 71,0.6) 50%);
     
     width: 100%;
     height: 70px; 
     flex-direction: row;
     margin-top: 0px;
     position:fixed;
     padding: 20px 0px;

     display: flex;
     flex-wrap: nowrap;
     align-content: center;
     justify-content: space-evenly;
  }
  .navbar-content {
    color: white;
    font-size: 30px;
    margin: 10px;
    font-weight: 400;
    text-decoration: none;
   
  }
  .navbar-content:hover
  {
    font-weight: 600;
    color:#49ff18;
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    


  }






  div.media { 
    grid-area: 3 / 5 / 6 / 6;
    height: auto;
    margin: 0px;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
  }

  .Profile-Title {
    color: white;
    font-size: 30px;
    margin: 0px;
    font-weight: 200;
 
    
    text-align: center;
  }
 .emojiheader {
  width: 100px;
  margin-top: 0px;
 }

  .perfil{
    width: 430px;
    -webkit-box-shadow: 5px 5px 15px 5px #000000; 
    box-shadow: 5px 5px 15px 5px #000000;
  }
  .perfil:hover {
    box-shadow: 0 0 5px #FFF,
    0 0 10px #FFF,
     0 0 15px #FFF,
      0 0 20px #49ff18,
       0 0 30px #49FF18,
        0 0 40px #49FF18,
         0 0 55px #49FF18,
          0 0 75px #49ff18,
           2px 2px 2px rgba(206,89,55,0);
 
  }

  div.header-title { 
    grid-area: 2 / 1 / 4 / 4;
    
    margin: 0px;
    text-align: center;
    
  }
  .hi {
    color: white;
    font-size: 30px;
    font-weight: 200;
    line-height: 60px;
    
  }
  .name {
    color: white;
    font-size: 70px;
    font-weight:bolder;
    text-shadow: 6px 6px 5px black;
    
  }

  span {
    color:#49ff18;
  }

  div.about {
    grid-area: 4 / 1 / 6 / 4;
    margin: 20px;
    text-align: center;
    line-height: 1.8;
  }
  
  .skills {
    margin: 10px;
    color: white;
    font-size: 45px;
    font-weight: 700;

  }
  .skills:hover{
    text-shadow: 0 0 5px #FFF,
    0 0 10px #FFF,
     0 0 15px #FFF,
      0 0 20px #49ff18,
       0 0 30px #49FF18,
        0 0 40px #49FF18,
         0 0 55px #49FF18,
          0 0 75px #49ff18,
           2px 2px 2px rgba(206,89,55,0);
  }


 .SocialMedia{

  display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
  padding: 15px;
  height: 70vh;

 }

 .SocialMedia-Title {
   text-align: center;
   color: white;
   margin: 0px;
   font-size: 50px;
   font-weight: bold;
 }
 .SocialMedia-Title:hover {

  transform:scale(1.2);

 }

 .IconTwitter  {
   width: 160px;
   opacity: 0.5;
 }
 .IconLinkedin,.IconGitHub {
   width: 100px;
   opacity: 0.5;
 }
 .IconEmail {
   width: 150px;
   opacity: 0.5;
 }

 .IconLinkedin:hover,.IconTwitter:hover, .IconGitHub:hover,.IconEmail:hover {
   
   opacity: 1;
 }


.FeatureContainerWD {
  display: flex;
  flex-direction: row-reverse;
  
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
  margin: 30px 0;
  width: 100%;
  height: 70vh;
}
.FeatureContainerDESIGNER{
  display: flex;
  flex-direction: row;

  
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
  margin: 30px 0;
  width: 100%;
  height: 70vh;
}

.FeatureContainerBLOCKCHAIN{
  display: flex;
  flex-direction: row-reverse;

  
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
  margin: 30px 0;
  width: 100%;
  height: 70vh;
}

.FeatureContainerCTO{

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
  margin: 30px 0;
  width: 100%;
  height: 70vh;

}
.FeatureContainerOTHERS{

  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
  margin: 30px 0;
  width: 100%;
  height: 70vh;

}

.container_image {
  width: 128px;
}
.WebDevPic {
  width: 240px;
}
.container_feature {
  
  
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
  align-items: stretch;
}

.Feature-Title {
  font-size: 45px;
  color: white;
  font-weight: 900;

}

.Feature-Text {
  color: white;
  margin: 15px 0px;
  font-size: 30px;
  font-weight: 600;
}
.Formation-Section {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom-color: transparent;
  border-radius: 4px;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;

}

.Section-Title {
  font-weight: 500;
  font-size: 50px;
  color: #FFF;
  text-align: center;
}

.accordion__item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.accordion__header {
  /* Center the content horizontally */
  align-items: center;
  display: flex;

  cursor: pointer;
  padding: 16px;
}

.Formation-Title {
  font-size: 30px;
  color: white;
  font-weight: bolder;
}

.accordion__toggle {
  margin-right: 12px;
}

.accordion__title {
  /* Take remaining width */
  flex: 1;
}

.accordion__content {
  /* For not selected item */
  display: none;

  border-top: 1px solid rgba(0, 0, 0, 0.3);
  padding: 16px;
}

.accordion__content--selected {
  /* For selected item */
  display: block;
}

