.App {
  text-align: center;
}

div.header {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100vh;
  background: #020046;
  background: -moz-linear-gradient(top, #020046 0%, #1C6EA4 50%, #A6ABE1 100%);
  background: -webkit-linear-gradient(top, #020046 0%, #1C6EA4 50%, #A6ABE1 100%);
  background: linear-gradient(to bottom, #020046 0%, #1C6EA4 50%, #A6ABE1 100%);
  
  
  }
  
  div.navbar { 
     grid-area: 1 / 1 / 2 / 7;
     
     width: 100%;
     height: 70px; 
     flex-direction: row;
     margin-top: 20px;

     display: flex;
     flex-wrap: nowrap;
     align-content: center;
     justify-content: space-evenly;
  }
  .navbar-content {
    color: white;
    font-size: 30px;
    margin: 10px;
    font-weight: lighter;
   
  }
  .navbar-content:hover
  {
    color:#49ff18;
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    


  }


  div.media { 
    grid-area: 3 / 5 / 6 / 6;
   
    height: 450px;
    margin: 20px;
  }


  .perfil{
    -webkit-box-shadow: 5px 5px 15px 5px #000000; 
    box-shadow: 5px 5px 15px 5px #000000;
  }
  .perfil:hover {
    box-shadow: 0 0 5px #FFF,
    0 0 10px #FFF,
     0 0 15px #FFF,
      0 0 20px #49ff18,
       0 0 30px #49FF18,
        0 0 40px #49FF18,
         0 0 55px #49FF18,
          0 0 75px #49ff18,
           2px 2px 2px rgba(206,89,55,0);
 
  }

  div.header-title { 
    grid-area: 3 / 1 / 4 / 4;
    
    margin: 20px;
    text-align: center;
    
  }
  .name {
    color: white;
    font-size: 70px;
    font-weight:bolder;
    text-shadow: 6px 6px 5px black;
    
  }

  span {
    color:#49ff18;
  }

  div.about {
    grid-area: 4 / 1 / 6 / 4;
   
    margin: 20px;
    text-align: center;
  }
  
  .skills {
    margin: 10px;
    color: white;
    font-size: 45px;
    font-weight: 500;

  }
  .skills:hover{
    text-shadow: 0 0 5px #FFF,
    0 0 10px #FFF,
     0 0 15px #FFF,
      0 0 20px #49ff18,
       0 0 30px #49FF18,
        0 0 40px #49FF18,
         0 0 55px #49FF18,
          0 0 75px #49ff18,
           2px 2px 2px rgba(206,89,55,0);
  }